# Object files
*.o
*.ko
*.obj
*.elf
*.s

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
y.output

*.txt
*.tgz
*.tar.gz

*.sh

# Swap files
*~
*.swp

# Lex files
lex.yy.c
lex.yy.h

# Yacc files
y.tab.c
y.tab.h

# Bin
etapa1
etapa2
etapa3
etapa4
etapa5
etapa6
etapa7
etapa8
etapa9

*.stackdump
